AI_SERVICE_HOST=0.0.0.0
AI_SERVICE_PORT=50051
AI_SERVICE_MAX_WORKERS=4

# ASR provider: noop or faster-whisper
ASR_PROVIDER=noop
ASR_LANGUAGE=vi
ASR_MODEL_SIZE=small
ASR_DEVICE=cpu
ASR_COMPUTE_TYPE=int8
ASR_CPU_THREADS=4
ASR_NUM_WORKERS=1
ASR_MODEL_STORAGE_PATH=
ASR_LOCAL_FILES_ONLY=false
