POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
S3_BUCKET=vidpilot-media
MINIO_CORS_ALLOWED_ORIGINS=http://localhost:5173

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

REDIS_PORT=6379
